@model List<AIEthicsSurvey.Models.Question>

@{
	ViewBag.Title = "QChildren";
	
}

@if (Model != null)
{
	for (int i = 0; i < Model.Count; i++)
	{
		<div id="qChildID_@Model[i].ID" class="card qChild" style="background-color:aliceblue" aria-controls="childof_@Model[i].parentID">
			<div class="card-header " style="background-color:#b9cdde">
				<h5 style="padding:10px">@Model[i].questionText</h5>

			</div>
			<div class="row card-body">
				<div class="col-lg-10">
					@Html.Action("BinaryAnswer", "Question", new { q = @Model[i] })
				</div>
				<div class="col-lg-2">
					<span id="ok_@Model[i].ID" class="glyphicon glyphicon-ok ok" style="padding:10px; color:green; display:none"></span>
				</div>
			</div>
		</div>
	}
}

