@model List<DataLibrary.Models.Category>

@{

}
	<div class=" nav nav-fill nav-pills flex-column catNav">
		@if (Model.Count > 0)
		{
			for (int i = 0; i < Model.Count; i++)
			{

				string idd = "sub";
				for (int j = 0; j < i; j++)
				{
					idd += "b";
				}
				string iddd = "#" + idd;

				<div class="nav-item">
					<button id="subcatitem_@(Model[i].Id)" class="btn btn-info btn-block subCatNav">
						@(Model[i].Name)
					</button>
				</div>
			}
		}
	</div>

