body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-landing {
	text-shadow: 0 1px 0 #ff6a00;
	background-image: -webkit-linear-gradient(top, #ff6a00 0%, #ff6a00 100%);
	background-image: -o-linear-gradient(top, #ff6a00 0%, #ff6a00 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6a00), to(#ff6a00));
	background-image: linear-gradient(to bottom, #ff6a00 0%, #ff6a00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	border-color: #ff6a00;
	border-color: #ff6a00;
}
